
.record-form{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: black;
    padding:20px;
    border: 2px solid orange;
}

.record-form input, select, b{
    background: black;
    padding:2px;
    border: 2px solid orange;
    color: white;
    margin: 5px;
    text-align: center;
}
.record-form table{
    border: 2px solid orange;
    padding:5px;
}
.record-form th{
    border: 2px solid orange;
    padding:5px;
}
.record-form td{
    border: 2px solid orange;
    padding:5px;
}
.record-form table{
    border-collapse: collapse;
    width:100%;
    margin-bottom: 10px;
}
.record-form h2{
    color: yellow;
    margin-bottom: 5px;
}
.record-form button{
    padding: 5px;
    width:30%;
    cursor: pointer;
    font-size: 1.1em;
    background: black;
    padding:2px;
    border: 2px solid orange;
    color: white;
    margin: 5px;
    text-align: center;
}
.record-form button:hover{
    border-color: white;
}