body{
    width:100%;
    height:100vh;
    margin:0px;
    background-color:black;
}

.header{
    width:100%;
    height:100px;
    margin:0px;
    padding-top: 50px;
    text-align:center;
    color:yellow;
}

.tab-container{
    width:100%;
    min-height:10vh;;
    padding:0px;
}

.tab{
    width:33%;
    height:10%;
    margin:0px;
    cursor:pointer;
    background-color:grey;
    color:white;
}
.tab:hover{
    background-color:rgb(171, 171, 171);
}

.tab-selected{
    width:33%;
    height:10%;
    margin:0px;
    color:yellow;
    background-color:rgb(61, 61, 61);
}

.body{
    width:100%;
    min-height:76vh;
    background-color:rgb(61, 61, 61);
    text-align: center;
    color:white;
}

.dive-data h2{
    color:yellow;
    margin-bottom:-15px;
    text-decoration: black;
}

.dive-data p u{
    font-size: 25px;
    cursor: pointer;
    padding-left:5px;
    padding-right:5px;
}

.stage-container{
    margin-left:14%
}

.stage{
    width:24%;
    margin-top:0px;
    margin-left:2%;
    margin-right:2%;
    float:left;
    text-align: centre;
    color:black;
    background-color:rgb(152, 152, 152);
}

.dive-warning{
    color:red;
}
.dive-anomaly{
    color:rgb(224, 224, 14);
}

.big-button{
    margin-top:30px;
    width:250px;
    height:50px;
    font-size: 25px;
}